MPESA_ENV=production
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=
MPESA_OAUTH_URL_PRODUCTION=https://api.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
MPESA_OAUTH_URL_SANDBOX=https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
MPESA_REGISTER_URL_PRODUCTION=https://api.safaricom.co.ke/mpesa/c2b/v2/registerurl
MPESA_REGISTER_URL_SANDBOX=https://sandbox.safaricom.co.ke/mpesa/c2b/v2/registerurl
MPESA_CONFIRMATION_URL=
MPESA_VALIDATION_URL=
MPESA_STK_CALLBACK_URL=
MPESA_INITIATOR_NAME=
MPESA_SECURITY_CREDENTIAL=
MPESA_REVERSAL_RESULT_URL=
MPESA_REVERSAL_TIMEOUT_URL=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
APP_JWT_SECRET=
MLG_INTERNAL_BULK_KEY=
